In [32]:
from bs4 import BeautifulSoup as b4
import requests
import urllib.request
import csv
from itertools import zip_longest
import os
import pandas as pd

In [5]:
directory = "Books-To-Scrap"

parent_dir = "C:/Users/abdel"

path = os.path.join(parent_dir, directory)

os.mkdir(path) 
print("Directory '% s' created" % directory)

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'C:/Users/abdel\\Books-To-Scrap'

In [6]:
os.chdir(path)
cwd = os.getcwd()
print(cwd)

C:\Users\abdel\Books-To-Scrap

In [51]:
Books_Name=[]
Books_price=[]
Books_rate=[]
for p in range (1,51,1):
    url=f"https://books.toscrape.com/catalogue/page-{p}.html"
    response = requests.get(url)
    soup = b4(response.content, 'html.parser')
    bookshelf = soup.findAll("li", {"class": "col-xs-6 col-sm-4 col-md-3 col-lg-3"})
    for books in bookshelf:
        book_title = books.h3.a["title"]
        Books_Name.append(book_title)
        
        book_price = books.findAll("p", {"class": "price_color"})
        for price in book_price:
            Books_price.append(price.text)
            
        book_rate=books.p["class"]
        Books_rate.append(book_rate)

In [52]:
Books_Name[:5]

['A Light in the Attic',
 'Tipping the Velvet',
 'Soumission',
 'Sharp Objects',
 'Sapiens: A Brief History of Humankind']

In [53]:
Books_price[:5]

['£51.77', '£53.74', '£50.10', '£47.82', '£54.23']

In [54]:
Books_rrate[:5]

["star-rating', 'Three",
 "star-rating', 'Three",
 "star-rating', 'Three",
 "star-rating', 'Three",
 "star-rating', 'Three"]

In [55]:
len(Books_Name)

1000

In [56]:
len(Books_price)

1000

In [57]:
len(Books_rate)

1000

In [60]:
file_list = [Books_Name,Books_price,Books_rate]
exported=zip_longest(*file_list)
f = open('Books to scrap.csv', 'w',encoding="UTF-8")
writer = csv.writer(f)
writer.writerow(["Books","Price","Rate"])
writer.writerows(exported)
f.close()

In [61]:
data=pd.read_csv("Books to scrap.csv")
df=pd.DataFrame(data)
df

,Books,Price,Rate
0,A Light in the Attic,£51.77,"['star-rating', 'Three']"
1,Tipping the Velvet,£53.74,"['star-rating', 'One']"
2,Soumission,£50.10,"['star-rating', 'One']"
3,Sharp Objects,£47.82,"['star-rating', 'Four']"
4,Sapiens: A Brief History of Humankind,£54.23,"['star-rating', 'Five']"
...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,£55.53,"['star-rating', 'One']"
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",£57.06,"['star-rating', 'Four']"
997,A Spy's Devotion (The Regency Spies of London #1),£16.97,"['star-rating', 'Five']"
998,1st to Die (Women's Murder Club #1),£53.98,"['star-rating', 'One']"
999,"1,000 Places to See Before You Die",£26.08,"['star-rating', 'Five']"

In [62]:
df.to_excel('Books to scrap.xlsx', index = False)